{% load i18n %}
{% load static %}
{% load fullurl %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">

    <title>{{ site_settings.title }}</title>

    <meta name="description" content="{{ site_settings.desc }}">
    <meta name="author" content="{{ site_settings.title }}">

    <meta name="og:type" content="website">
    <meta property="og:title" content="{{ site_settings.title }}">
    <meta property="og:url" content="{% fullurl 'home' %}">
    <meta property="og:image" content="{% fullstatic "favicons/favicon.png" %}">

    {% include 'favicon.html' %}


    {#    <link rel="manifest" href="{% fullstatic "favicons/site.webmanifest" %}"/>#}

    <link rel="icon" href="{% fullurl 'home' %}favicon.png" type="image/png">
    <link rel="shortcut icon" href="{% fullurl 'home' %}favicon.ico" type="img/x-icon">


    {% block extra_head %}
    {% endblock %}
</head>
<body>


{% block content %}
{% endblock content %}


{#<script>#}
{##}
{##}
{#</script>#}

<script src="{% fullstatic "js/site_page_utils.js" %}"></script>
</body>

</html>
