{% load i18n %}
{% load static %}
{% load fullurl %}

<div class="container">
    <section class="main-section contact" id="contact">

        <div class="row">
            <div itemscope itemtype="http://schema.org/LocalBusiness" class="col-lg-6 col-sm-7 wow fadeInLeft">
                <meta itemprop="name" content="{{ settings.SITE_NAME }}">
                <meta itemprop="description"
                      content="Строительство жилых и нежилых зданий. Производство электромонтажных работ.
                      Производство штукатурных работ.
                      Работы столярные и плотничные.
                      Работы по устройству покрытий полов и облицовке стен.
                      Производство малярных и стекольных работ.
                      Производство прочих отделочных и завершающих работ.
                      Работы строительные специализированные прочие, не включенные в другие группировки.
                      Работы гидроизоляционные.
                      Работы по установке строительных лесов и подмостей.
                      Работы свайные и работы по строительству фундаментов.
                      Работы бетонные и железобетонные.
                      Работы по монтажу стальных строительных конструкций.
                      Работы каменные и кирпичные.
                      Работы по сборке и монтажу сборных конструкций.
                      Работы строительные специализированные, не включенные в другие группировки.
                      Торговля розничная скобяными изделиями, лакокрасочными материалами и стеклом в специализированных магазинах.
                      Торговля розничная строительными материалами, не включенными в другие группировки, в специализированных магазинах.
                      Торговля розничная прочими строительными материалами, не включенными в другие группировки, в специализированных магазинах.
                      ">

                {#                <meta itemprop="image" content="{{ STATIC_URL }}img/small-logo.svg">#}
                <meta itemprop="image" content="https://st.weblancer.net/download/2567652_120xs.jpg">
                <meta itemprop="priceRange" content="RUB"/>


                <div class="contact-info-box address clearfix">
                    <h3><i class="fa fa-map-marker"></i>{% trans 'Адрес' %}:</h3>

                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        {% trans 'Москва, ул. Привольная, 70' %},<br>
                        {% trans 'Корпус 1, хэт. 2, пом 12, ком. 32' %}.
                    <meta itemprop="addressCountry" content="Россия">
                    <meta itemprop="addressLocality" content="г. Москва">
                    <meta itemprop="streetAddress" content="ул. Привольная, 70">
                    <meta itemprop="postOfficeBoxNumber" content="Корпус 1, хэт. 2, пом 12, ком. 32">
                    </span>
                </div>

                <div class="contact-info-box phone clearfix">
                    <h3><i class="fa fa-phone"></i>{% trans 'Телефон' %}:</h3>
                    <a href="tel:01234567890"><span itemprop="telephone">1-800-BOO-YAHH</span></a>
                </div>

                <div class="contact-info-box email clearfix">
                    <h3><i class="fa fa-envelope-o"></i>Email:</h3>
                    <span itemprop="email">edwikms@gmail.com</span>
                </div>

                <div class="contact-info-box hours clearfix">
                    <h3><i class="fa fa-clock-o"></i>{% trans 'График' %}:</h3>
                    <span>
                        <strong>Пн - Пт:</strong> 9:00 - 17:00<br>
                        <strong>Сб - Вс:</strong> Выходной</span>
                </div>

                <div class="contact-info-box docs clearfix">
                    <h3><i class="fa-university"></i>{% trans 'Юр.лицо' %}:</h3>
                    <a href="http://www.rusprofile.ru/egrul?ogrn=1187746131924">
                        <span>Выписка из ЕГРЮЛ</span>
                    </a>
                </div>


                {#                    <ul class="social-link">#}
                {#                        <li class="twitter"><a href="#"><i class="fa-twitter"></i></a></li>#}
                {#                        <li class="facebook"><a href="#"><i class="fa-facebook"></i></a></li>#}
                {#                        <li class="pinterest"><a href="#"><i class="fa-pinterest"></i></a></li>#}
                {#                        <li class="gplus"><a href="#"><i class="fa-google-plus"></i></a></li>#}
                {#                        <li class="dribbble"><a href="#"><i class="fa-dribbble"></i></a></li>#}
                {#                    </ul>#}


            </div>

            <div itemprop="hasMap" class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
                <iframe src="{{ settings.API_GOOGLE_MAP_IFRAME_LINK }}"
                        width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>


        </div>
    </section>
</div>
