<footer class="footer">
    <div class="container">
        {#        <div class="footer-logo"><a href="#"><img src="{{ STATIC_URL }}img/footer-logo.png" alt=""></a></div>#}
        <div id="organisation-name">
            <span class="copyright">2018, &copy; {{ settings.SITE_NAME }}</span>
        </div>
        <div class="credits">
            by <a href="http://www.weblancer.net/?affiliate=MMM_Corp">MMM_Corp, </a>
            <a href="mailto:mmmsvit@gmail.com?Subject=Hello%20from%20stroykapremont">email: mmmsvit@gmail.com</a>
        </div>
    </div>
</footer>
