{% extends "base.html" %}


{% block content %}

    <header class="header" id="header"><!--header-start-->
    	<div class="container">
        	<figure class="logo animated fadeInDown delay-07s">
            	<a href="#"><img src="{{ STATIC_URL }}img/logo.png" alt=""></a>	
            </figure>	
            <!-- <h1 class="animated fadeInDown delay-07s">Welcome To Knight Studios</h1>
            <ul class="we-create animated fadeInUp delay-1s">
            	<li>We are a digital agency that loves crafting beautiful websites.</li>
            </ul> -->
                <a class="link animated fadeInUp delay-1s servicelink" href="/ru/">Русский</a>
                <a class="link animated fadeInUp delay-1s servicelink" href="/en/">English</a>
        </div>
    </header><!--header-end-->

	
{% endblock %}