{% load i18n %}
{% load static %}

{% block service %}
<section class="main-section" id="service"><!--main-section-start-->
        <div class="container">
            <h2>{% trans "Услуги" %}</h2>
            <h6>{% trans "Мы можем построить все что угодно..." %}</h6>
            <div class="row">
                <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa-paw"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>Иследования и разработка</h3>
                            <p>Работаем в любой точке страны и за рубежом.</p>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-list-col1">
{#                            <i class="fa-gear"></i>#}
                            <i class="fa-flask"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>проектирование</h3>
                            <p>Разработка проектной и архитектурной документации, весь спектр по оформлению.</p>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa-apple"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>дизайн</h3>
                            <p>Разработка внешнего и внутреннего дизайна помещений, фасадов и мансандр.</p>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa-medkit"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>24/7 Поддержка</h3>
                            <p>Мы готовы ответить на любые ваши вопросы в любое времья суток.</p>
                        </div>
                    </div>
                </div>
                <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                    <img src="{{ STATIC_URL }}img/stroykaprem.png" alt="">
                </figure>

            </div>
        </div>
    </section><!--main-section-end-->



{#    <section class="main-section alabaster"><!--main-section alabaster-start-->#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <figure class="col-lg-5 col-sm-4 wow fadeInLeft">#}
{#                    <img src="{{ STATIC_URL }}img/iphone.png" alt="">#}
{#                </figure>#}
{#                <div class="col-lg-7 col-sm-8 featured-work">#}
{#                    <h2>featured work</h2>#}
{#                    <P class="padding-b">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum#}
{#                        suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni#}
{#                        ssim. Donec porttitora entum suscipit.</P>#}
{#                    <div class="featured-box">#}
{#                        <div class="featured-box-col1 wow fadeInRight delay-02s">#}
{#                            <i class="fa-magic"></i>#}
{#                        </div>#}
{#                        <div class="featured-box-col2 wow fadeInRight delay-02s">#}
{#                            <h3>magic of theme development</h3>#}
{#                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean#}
{#                                rhoncus posuere odio in tincidunt. </p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="featured-box">#}
{#                        <div class="featured-box-col1 wow fadeInRight delay-04s">#}
{#                            <i class="fa-gift"></i>#}
{#                        </div>#}
{#                        <div class="featured-box-col2 wow fadeInRight delay-04s">#}
{#                            <h3>neatly packaged</h3>#}
{#                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean#}
{#                                rhoncus posuere odio in tincidunt. </p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="featured-box">#}
{#                        <div class="featured-box-col1 wow fadeInRight delay-06s">#}
{#                            <i class="fa-dashboard"></i>#}
{#                        </div>#}
{#                        <div class="featured-box-col2 wow fadeInRight delay-06s">#}
{#                            <h3>SEO optimized</h3>#}
{#                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean#}
{#                                rhoncus posuere odio in tincidunt. </p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <a class="Learn-More" href="#">Learn More</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section><!--main-section alabaster-end-->#}
{% endblock %}